body {
	background-image: url("../img/bg.jpg");
	background-size: repeat;
	min-height:100%;
	padding-top: 0px;
}
html{
	height:100%;
	min-height:100%;
}

.navbar-fixed-top  { 
	min-height:30px; 
}
.navbar .navbar-brand{ 
	padding: 0px 12px;font-size: 18px;line-height: 44px; height: 31px;
	color: #99CCFF;
}
.navbar  .navbar-nav > li > a { 
	padding-top: 3px; padding-bottom: 0px; line-height: 37px; height: 38px;
}
.navbar-toggle .icon-bar {
	width: 22px;
	height: 2px;
}
.navbar-toggle {
	height: 30px;
	margin-top: 7px;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
	color: #99CCFF;
}
#formNew{
	margin-top:90px;
}
#inputErr{
	position:absolute;
	top: 4px;
	left:290px;
}
#submitButton{
	margin-top:11px;
	width: 259px;
	margin-left: 17px;
}

@media (max-width: 1200px) {
	#submitButton{
		margin-top:11px;
		width: 120px;
		margin-left: 52px;
	}

}
