body {
	background-image: url("../img/bg.jpg");
	background-size: repeat;
	min-height:100%;
	padding-top: 45px;
}
html{
	height:100%;
	min-height:100%;
}
.navbar-fixed-top  { 
	min-height:30px; 
}
.navbar .navbar-brand{ 
	padding: 0px 12px;font-size: 18px;line-height: 44px; height: 31px;
	color: #99CCFF;
}
.navbar  .navbar-nav > li > a { 
	padding-top: 3px; padding-bottom: 0px; line-height: 37px; height: 38px;
}
.navbar-toggle .icon-bar {
	width: 22px;
	height: 2px;
}
.navbar-toggle {
	height: 30px;
	margin-top: 7px;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #99CCFF;
}

#loginForm {
	padding-left: 415px;
	margin-top: 80px;
}

#description {
	font-weight: bold;
	font-size: 1.3em;
	text-align: center;
	color: black;
}

.form-horizontal {
	margin-top: 80px;
}



#submitButton {
	margin-top: 20px;
	height: 29px;
	padding-top: 4px;
	width: 262px;

}
.form-control {
	height: 30px;
}

@media (max-width: 1200px) {
	.alert-success {
		width: 200px;
		height: 30px;
		padding-top: 5px;
		text-align: center;
		margin-left: 100px;
		margin-top: 20px;
	}
	#submitButton {
		margin-top: 20px;
		height: 29px;
		padding-top: 4px;
		width: 157px;
	}
	.alert-danger {
		width: 400px;
		height: 128px;
		text-align: center;
		margin-left: 8px;
	}
}

@media (min-width: 1210px) {
	.alert-success {
		width: 200px;
		height: 30px;
		padding-top: 5px;
		text-align: center;
		margin-left: 425px;
		margin-top: 20px;
	}
	#submitButton {
		margin-top: 20px;
		height: 29px;
		padding-top: 4px;
		width: 262px;
	}
	.alert-danger {
		width: 400px;
		height: 128px;
		text-align: center;
		margin-left: 330px;
		margin-top: 10px;
	}
}
