body {
  background-image: url("../img/bg.jpg");
  background-size: repeat;
  min-height:100%;
  padding-top: 45px;
}
html{
  height:100%;
  min-height:100%;
}

.navbar-fixed-top  { 
  min-height:30px; 
}
.navbar .navbar-brand{ 
  padding: 0px 12px;font-size: 18px;line-height: 44px; height: 31px;
  color: #99CCFF;
}
.navbar  .navbar-nav > li > a { 
  padding-top: 3px; padding-bottom: 0px; line-height: 37px; height: 38px;

}
.navbar-toggle .icon-bar {
  width: 22px;
  height: 2px;
}
.navbar-toggle {
  height: 30px;
  margin-top: 7px;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
 color: #99CCFF;
}
#formNew{
 margin-top:80px;
 margin-left:120px;
 font-size: 0.9em;
}
.alert-danger {
 height:27px;
 text-align: center;
 width:320px;
 padding-top:3px;
}
.alert-info {
 position:absolute;
 top:1px;
 left:370px;
 height:27px;
 text-align: center;
 width:320px;
 padding-top:3px;
}
.alert-success {
 position:absolute;
 top:1px;
 left:370px;
 height:27px;
 text-align: center;
 width:320px;
 padding-top:3px;
}
#inputErr{
 position:absolute;
 top: 4px;
 left:290px;
}
#submitButton{
 margin-top:11px;
 width:410px;
 height: 29px;
 padding-top: 4px;
}
.form-control {
 height: 30px;
}